/* Main container styling */
.mainDiv {
    background: linear-gradient(180deg, rgb(12, 12, 12), rgb(32, 34, 41) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 150px;
}

/* Header styling */
.header {
    background-image: url("../../../assets/Rectangle 3215.png");
    background-position: bottom center; 
    background-size: cover; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

/* Header text styling */
.header h1 {
    padding-top: 30px;
    color: rgb(255, 255, 255);
    font-family: Switzer;
    font-size: 54px;
    font-weight: 600;
    margin: 0;
    padding-left: 200px;
}

/* Button container styling */
.buttonDiv {
    padding-bottom: 100px;
}

/* Container styling */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center; 
    padding: 100px 400px 0px 400px;
}
.container{

}

/* Text styling */
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

/* Footer main styling */
.mainFoot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
}

/* Company logo container styling */
.companyLogoDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    
}

/* Left container styling */
.leftContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 120px;
}

/* Header text container styling */
.h1TagDiv {
    padding-right: 400px;
}

.h1TagDiv h1 {
    color: rgb(255, 255, 255);
    font-family: Switzer;
    font-size: 54px;
    font-weight: 600;
}

/* List design styling */
.listDesign {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    margin: 0;
    padding-top: 50px;
}

/* P-tag container styling */
.ptagDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 200px;
}

.ptagDiv p {
    color: rgba(255, 255, 255, 0.8);
    font-family: Switzer;
    font-size: 16px;
    font-weight: 400;
}

/* Button container styling */
.buttonDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 200px;
}

.buttonDiv p {
    color: rgb(149, 149, 149);
    font-family: Switzer;
    font-size: 14px;
    font-weight: 600;
}

/* Button styling */
.button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-left: 30px;
}
.logoC {
    padding-left: 200px;
}
.button button {
    border: none;
    cursor: pointer;
    background: none;
    padding: 20px 51px;
    border-radius: 20.27px;
    background: rgb(41, 43, 52);
    display: flex;  
    align-items: center;
    justify-content: center;
}

.button button p {
    margin: 0;
    color: rgb(237, 239, 255);
    font-family: Switzer;
    font-size: 14.86px;
    font-weight: 500;
}

/* Responsive styling for different screen sizes */

/* Small screens (mobile) */
@media only screen and (max-width: 768px) {
   .leftContainer {
        
        padding-top: 50px;
    }
    .mainDiv {
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .header{
        display: none;
    }
    .header h1 {
        font-size: 28px;
        padding-top: 10px;
    }
    .container {
        padding: 50px 20px 0px 20px;
    }
    .buttonDiv {
        padding-left: 20px;
        padding-right: 20px;
    }
    .h1TagDiv {
        padding-right: 0px;
    }
    .h1TagDiv h1 {
        font-size: 32px;
    }
    .listDesign {
        flex-direction: column;
        gap: 20px;
    }
    .ptagDiv {
        padding-left: 20px;
        padding-right: 20px;
    }
    .logoC {
        padding-left: 20px;
    }
}

/* Medium screens (tablets) */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .mainDiv {
        padding-top: 30px;
        padding-bottom: 70px;
    }
    .header h1 {
        font-size: 36px;
    }
    .container {
        padding: 70px 100px 0px 100px;
    }
    .buttonDiv {
        padding-left: 50px;
        padding-right: 50px;
    }
    .h1TagDiv {
        padding-right: 0px;
    }
    .h1TagDiv h1 {
        font-size: 40px;
       
    }
   
    .listDesign {
        gap: 50px;
    }
    .ptagDiv {
        padding-left: 50px;
    }
    .logoC {
        padding-left: 50px;
    }
}

/* Large screens (desktop) */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .mainDiv {
        padding-top: 30px;
        padding-bottom: 100px;
    }
    .header h1 {
        font-size: 40px;
    }
    .container {
        padding: 50px 200px 0px 200px;
    }
    .buttonDiv {
        padding-left: 50px;
        padding-right: 50px;
    }
    .h1TagDiv {
        padding-right: 100px;
    }
    .listDesign {
        gap: 10px;
    }
    .ptagDiv {
        padding-left: 60px;
    }
    .logoC {
        padding-left: 60px;
    }
}

/* Custom screen size */
@media only screen and (max-width: 1318px) and (max-height: 857px) {
    .mainDiv {
        padding-top: 30px;
        padding-bottom: 100px;
    }
    .header h1 {
        font-size: 40px;
    }
    .container {
        padding: 100px 300px 0px 300px;
    }
    .buttonDiv {
        padding-left: 50px;
        padding-right: 100px;
    }
    .h1TagDiv {
        padding-right: 0px;
    }
    .h1TagDiv h1 {
        font-size: 54px;
        font-weight: 600;
    }
    .listDesign {
        gap: 50px;
    }
    .ptagDiv {
        padding-left: 50px;
    }
    .logoC {
        padding-left: 50px;
    }
}
