.mainDiv{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    margin: 0px;
 


}
.mainDiv > p{
    color: rgb(149, 149, 149);
    font-family: Switzer;
    font-size: 18px;
    font-weight: 400;
    text-align: left;

}
