.mainDiv {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-left: 50px;
}

.mainDiv h1 {
    color: rgb(32, 34, 41);
    font-family: Switzer;
    font-size: 54px;
    font-weight: 700;
    padding-right: 1350px;
}

.mainDiv p {
    color: rgba(30, 21, 21, 0.8);
    font-family: Switzer;
    font-size: 22px;
    font-weight: 400;
    padding-right: 1300px;
}

.dropDownContainer {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-self: flex-start;
    padding-top: 50px;
    gap: 100px;
}
@media only screen and (max-width: 844px) and (max-height: 390px) {
    .mainDiv {
        padding-top: 20px;
        padding-left: 20px;
    }

    .mainDiv h1 {
        font-size: 13px; 
        padding-right: 20px;
    }

    .mainDiv p {
        font-size: 10px; 
        padding-right: 20px;
    }

   

   
   
}

@media only screen and (max-width: 768px) {
    .mainDiv {
        padding-top: 20px;
        padding-left: 20px;
        display: none;
       
    }
    .mainDiv h1 {
        font-size: 49px; 
        padding-right: 50px;
      
    }


.text{
    display : none;
}
  
    .mainDiv p {
        font-size: 30px; 
        padding-right: 20px;
    }
    /* .dropDownContainer {
        padding-top: 30px;
        gap: 20px;
    } */

 
}


@media only screen and (min-width: 1024px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
   
    
    .mainDiv h1 {
      
        padding-right: 400px;
    }

    .mainDiv p {
        padding-right: 350px;
    }
}
@media only screen and (max-width: 1318px) and (max-height: 857px) {
    .mainDiv h1 {
      
        padding-right: 700px;
    }

    .mainDiv p {
        padding-right: 650px;
    }
}