.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px
}

.buttonDiv button {
  border-radius: 0;
  border: none;
  cursor: pointer;
  background: none; /* Remove default button background */
  padding: 0; /* Remove default button padding */
}

.buttonDiv button img {
  border: none;
  display: block; 
}