.mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Ensure items start at the top */
    align-items: center;
    padding: 0; /* Remove any padding */
    margin: 0; /* Remove any margin */
}

.mainDiv img {
    width: 100%;
    max-width: none;
    height: auto;
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
}

.line {
    margin: 0; /* Ensure no margin between images */
}
